<p>form-component works!</p>

<div class="container">
{{contact.firstName}}
<form #contactForm="ngForm" (submit)="onSubmit(contactForm)"> 
    <p>
        <label for="firstName">Firstname</label>
        <input type="text" id="firstname" name="firstName" [(ngModel)]="contact.firstName">
    </p>
    <p>
        <label for="lastName">lastName</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="contact.lastName">
    </p>
    <p>
        <label for="mail">mail</label>
        <input type="text" id="mail" name="mail" [(ngModel)]="contact.mail">
    </p>
   <p>
    <label for="male">Male</label>
    <input type="radio" value="male" id="male" name="gender" [(ngModel)]="contact.gender">
    
    <label for="female">Female</label>
    <input type="radio" value="female" id="female" name="gender" [(ngModel)]="contact.gender">
</p>
    <div ngModelGroup="address">
        <p>
        <label for="city">city</label>
        <input type="text" id="city" name="city" [(ngModel)]="contact.address.city">
    </p>
    <p>
        <label for="street">street</label>
        <input type="text" id="street" name="street" [(ngModel)]="contact.address.street">
    </p>
    <p>
        <label for="pincode">pincode</label>
        <input type="text" id="pincode" name="pincode" [(ngModel)]="contact.address.pincode">
    </p>
    </div>
    <p>
        <label for="country">country</label>
        <select name="country" id="country" [(ngModel)]="contact.country">
            <option value="">select</option>
            <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
        </select>
    </p>

    <p><button type="submit" >submit</button></p>
</form>

</div>