<p>reactive-form works!</p>

<div class="container">
<form [formGroup]="contactForm" (submit)="onSubmit()">
     <p>
        <label for="firstName">Firstname</label>
        <input type="text" id="firstname" name="firstName" formControlName="firstName">
        <span *ngIf="!firstname?.valid && firstname?.touched">
                <span class="text-danger" *ngIf="firstname?.errors?.['required']">
                        Field is required
                </span>
                <span class="text-danger" *ngIf="firstname?.errors?.['minlength']">
                        minimum length 6 is required
                </span>
        </span>
    </p>
    <p>
        <label for="lastName">lastName</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName">
        <span *ngIf="!lastname?.valid && lastname?.touched">
                <span class="text-danger" *ngIf="lastname?.errors?.['required']">
                        Field is required
                </span>
                <span class="text-danger" *ngIf="lastname?.errors?.['maxlength']">
                        maxlength length 10 is required
                </span>
                <span class="text-danger" *ngIf="lastname?.errors?.['pattern']">
                       only letter allowed
                </span>
        </span>
    </p>
    <p>
        <label for="mail">mail</label>
        <input type="text" id="mail" name="mail" formControlName="email">
        <span *ngIf="!email?.valid && email?.touched">
                <span class="text-danger" *ngIf="email?.errors?.['required']">
                        Field is required
                </span>
                <span class="text-danger" *ngIf="email?.errors?.['pattern']">
                       valid mail id
                </span>
                <!-- <span class="text-danger" *ngIf="email?.errors?.['pattern']">
                       only letter allowed
                </span> -->
        </span>
    </p>
     <p>
        <label for="isMarried">isMarried</label>
        <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
        <span *ngIf="!marriedStatus?.valid && marriedStatus?.touched">
                <span class="text-danger" *ngIf="marriedStatus?.errors?.['required']">
                        Field is required
                </span>
            </span>
    </p>
   <p>
    <label for="male">Male</label>
    <input type="radio" value="male" id="male" name="gender" formControlName="gender">
    
    <label for="female">Female</label>
    <input type="radio" value="female" id="female" name="gender" formControlName="gender">
    <span *ngIf="!gender?.valid && gender?.touched">
                <span class="text-danger" *ngIf="gender?.errors?.['required']">
                        Field is required
                </span>
            </span>
</p>
    <div formGroupName="address">
        <p>
        <label for="city">city</label>
        <input type="text" id="city" name="city" formControlName="city" >
        <span *ngIf="!city?.valid && city?.touched">
                <span class="text-danger" *ngIf="city?.errors?.['required']">
                        Field is required
                </span>
            </span>
    </p>
    <p>
        <label for="street">street</label>
        <input type="text" id="street" name="street" formControlName="street">
        <span *ngIf="!street?.valid && street?.touched">
                <span class="text-danger" *ngIf="street?.errors?.['required']">
                        Field is required
                </span>
            </span>
    </p>
    <p>
        <label for="pincode">pincode</label>
        <input type="text" id="pincode" name="pincode" formControlName="pincode">
        <span *ngIf="!pincode?.valid && pincode?.touched">
                <span class="text-danger" *ngIf="pincode?.errors?.['required']">
                        Field is required
                </span>
            </span>
    </p>
    </div>
    <p>
        <label for="country">country</label>
        <select name="country" id="country" formControlName="country">
            <option value="">select</option>
            <option [ngValue]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
        </select>
        <span *ngIf="!country?.valid && country?.touched">
                <span class="text-danger" *ngIf="country?.errors?.['required']">
                        Field is required
                </span>
            </span>
    </p>

    <p><button type="submit" [disabled]="!contactForm.valid">submit</button></p>
</form>
</div>