<h1 [innerText]="title"></h1>

<button [innerText]="click" [disabled]="isdisabled" (click)="count()"></button>

<input type="text" (input)="handleInput($event)">
{{inputValue}}

<input [(ngModel)]="ngModelvalue">
{{ngModelvalue}}
<br>
<!-- table -->
<div>
    <div>
        <table>
            <tr>
                <th>S.no</th>
                <th>movie name</th>
                <th>hero</th>
                <th>director</th>
                <th>release date</th>
            </tr>
            <tr 
            [ngClass]='{"bg-warning":f,"bg-info":l}'
            *ngFor="let movie of movieList ; let i=index ; let o=odd ; let e=even;let f=first;let l=last">
                <td>{{i+1}}</td>
                <td> {{movie.title}}</td>
                <td> {{movie.hero}}</td>
                <td> {{movie.director}}</td>
                <td> {{movie.release_date}}</td>
            </tr>

        </table>
    </div>
</div>


<!-- ngSwitch -->
input Type<input type="text" [(ngModel)]="num">
<div [ngSwitch]="+num">
<div *ngSwitchCase="1">one</div>
<div *ngSwitchCase="2">two</div>
<div *ngSwitchCase="3">three</div>
<div *ngSwitchCase="4">four</div>

</div>


<!-- ngIf -->
<p>NgIf Example</p>
<label for=""> checkbox <input type="checkbox" [(ngModel)]="showMe"></label>

<br>
{{showMe}}
<p *ngIf="showMe">show Me is checked</p>
<p *ngIf="!showMe">show Me is Unchecked</p>



<!-- ngClass -->
<div [ngClass]="['primary','big']">
sample Text1
</div>
<label for="">Green<input type="checkbox" [(ngModel)]="enableGreen"></label>
<label for="">Big<input type="checkbox" [(ngModel)]="enableBig"></label>
<label for="">Italic<input type="checkbox" [(ngModel)]="enableItalic"></label>
<div [ngClass]="{'secondary':enableGreen,'big':enableBig,'italic':enableItalic}">
<p>sample Text</p>
</div>

<!-- Pipe operator -->

<p>Unformatted date {{toDate}}</p>
<p>formatted date {{toDate|date}}</p>

<p>original {{word}}</p>
<p>upper {{word|lowercase}}</p>
<p>lower {{word|uppercase}}</p>